# Chapter 3

### 產生資料框

In [45]:
import pandas as pd 
df = pd.DataFrame()
df["Name"] = ["Shao", "Zhao"]
df["Age"] = [23, 24]
df["Driver"]= [True, False]
df

   Name  Age  Driver
0  Shao   23    True
1  Zhao   24   False

### 現在要新增一行進去

In [46]:
new_ppl = pd.Series(['Hong', 24, True], index=df.columns)
df = df.append(new_ppl, ignore_index=True)
df

   Name  Age  Driver
0  Shao   23    True
1  Zhao   24   False
2  Hong   24    True

### 資料的描述

In [47]:
df.shape

(3, 3)

In [48]:
df.describe()

             Age
count   3.000000
mean   23.666667
std     0.577350
min    23.000000
25%    23.500000
50%    24.000000
75%    24.000000
max    24.000000

### 資料的瀏覽

In [49]:
df.iloc[0] # according to dataframe

Name      Shao
Age         23
Driver    True
Name: 0, dtype: object

In [50]:
df.loc['Shao'] # according to index

KeyError: 'Shao'

### 將某一列設成索引

In [51]:
df = df.set_index(df["Name"])
df

      Name  Age  Driver
Name
Shao  Shao   23    True
Zhao  Zhao   24   False
Hong  Hong   24    True

### Reset index

In [52]:
df = df.reset_index(drop=True)
df

   Name  Age  Driver
0  Shao   23    True
1  Zhao   24   False
2  Hong   24    True

### 依條件選取資料列

In [53]:
df[(df["Age"]==23) & (df["Driver"]==True)]

   Name  Age  Driver
0  Shao   23    True

### 值的替換

In [58]:
df['Age'] = df['Age'].replace(23, 24)
# df = df.replace(23, 24) 全部都改
# 接受regex regex=True

In [59]:
df

   Name  Age  Driver
0  Shao   24    True
1  Zhao   24   False
2  Hong   24    True

### 更改行名

In [61]:
df.rename(columns={"Name":"nickname"})

  nickname  Age  Driver
0     Shao   24    True
1     Zhao   24   False
2     Hong   24    True

### columns to dict

In [66]:
import collections
# 產生字典
columns_names = collections.defaultdict(str)
for name in df.columns:
    columns_names[name]

In [67]:
columns_names

defaultdict(str, {'Name': '', 'Age': '', 'Driver': ''})

### 找出最小值最大值總和平均與數目

In [71]:
df['Age'].max()
df['Age'].min()
df['Age'].mean()
df['Age'].sum()
df['Age'].count()
df.count()

Name      3
Age       3
Driver    3
dtype: int64

### 搜尋獨特值加上計數

In [75]:
df["Name"].unique()

array(['Shao', 'Zhao', 'Hong'], dtype=object)

In [77]:
df["Name"].nunique()

3

In [76]:
df["Name"].value_counts()

Hong    1
Zhao    1
Shao    1
Name: Name, dtype: int64

### 刪除某row

In [127]:
df = df.drop(df.index[3])

### (更好的方法)利用條件加上賦值刪除某row

In [144]:
# 把demi刪除
df[df["Name"]!="Demi"]

In [146]:
# 指定index
df[df.index!=0]

   Name   Age  Driver
1  Zhao  24.0     0.0
2  Hong  24.0     1.0

### 刪除某col

In [140]:
df.drop('Age', axis=1)

   Name  Driver
0  Shao     1.0
1  Zhao     0.0
2  Hong     1.0
3  Demi     0.0

In [142]:
df.drop(df.columns[0], axis=1)

    Age  Driver
0  24.0     1.0
1  24.0     0.0
2  24.0     1.0
3  23.0     0.0

### 缺漏值處理

In [128]:
import numpy as np
new_ppl = pd.Series(["Demi", 23, np.nan], index=df.columns)
df = df.append(new_ppl, ignore_index=True)

In [131]:
df

   Name   Age  Driver
0  Shao  24.0     1.0
1  Zhao  24.0     0.0
2  Hong  24.0     1.0
3  Demi  23.0     NaN

In [133]:
df[df["Driver"].isnull()]

   Name   Age  Driver
3  Demi  23.0     NaN

In [137]:
df.loc[df["Driver"].isnull(), "Driver"] = 0.0

In [138]:
df

   Name   Age  Driver
0  Shao  24.0     1.0
1  Zhao  24.0     0.0
2  Hong  24.0     1.0
3  Demi  23.0     0.0

In [139]:
# 直接在read_csv時就處理
df = pd.read_csv(url, na_value=[np.nan, 'NONE', -999])

In [ ]:
# 書中不建議使用inplace, del等方法來處理資料

### 丟棄重複資料列(for all)

In [149]:
new_ppl = pd.Series(["Demi", 23, np.nan], index=df.columns)
df = df.append(new_ppl, ignore_index=True)
new_ppl = pd.Series(["Demi", 23, np.nan], index=df.columns)
df = df.append(new_ppl, ignore_index=True)

In [150]:
df

   Name   Age  Driver
0  Shao  24.0     1.0
1  Zhao  24.0     0.0
2  Hong  24.0     1.0
3  Demi  23.0     NaN
4  Demi  23.0     NaN

In [155]:
df = df.drop_duplicates()
df

   Name   Age  Driver
0  Shao  24.0     1.0
1  Zhao  24.0     0.0
2  Hong  24.0     1.0
3  Demi  23.0     NaN

### 丟棄重複資料列(for cols)

In [157]:
# keep first match
df.drop_duplicates(subset=["Age"])

   Name   Age  Driver
0  Shao  24.0     1.0
3  Demi  23.0     NaN

### Groupby

In [165]:
df.groupby("Driver").mean() #後面method要給aggregate stastics

         Age
Driver
0.0     24.0
1.0     24.0

In [167]:
df.groupby("Driver")["Name"].count()

Driver
0.0    1
1.0    2
Name: Name, dtype: int64

In [170]:
df

   Name   Age  Driver
0  Shao  24.0     1.0
1  Zhao  24.0     0.0
2  Hong  24.0     1.0
3  Demi  23.0     NaN

In [169]:
# 兩組的小範例
df.groupby(["Driver", "Age"])["Name"].count()

Driver  Age
0.0     24.0    1
1.0     24.0    2
Name: Name, dtype: int64

### Time periods

In [173]:
time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')
time_index

DatetimeIndex(['2017-06-06 00:00:00', '2017-06-06 00:00:30',
               '2017-06-06 00:01:00', '2017-06-06 00:01:30',
               '2017-06-06 00:02:00', '2017-06-06 00:02:30',
               '2017-06-06 00:03:00', '2017-06-06 00:03:30',
               '2017-06-06 00:04:00', '2017-06-06 00:04:30',
               ...
               '2017-07-10 17:15:00', '2017-07-10 17:15:30',
               '2017-07-10 17:16:00', '2017-07-10 17:16:30',
               '2017-07-10 17:17:00', '2017-07-10 17:17:30',
               '2017-07-10 17:18:00', '2017-07-10 17:18:30',
               '2017-07-10 17:19:00', '2017-07-10 17:19:30'],
              dtype='datetime64[ns]', length=100000, freq='30S')

In [174]:
time_df = pd.DataFrame(index=time_index)

In [177]:
time_df["Sales"] = np.random.randint(1, 10, 100000)
time_df

                     Sales
2017-06-06 00:00:00      9
2017-06-06 00:00:30      6
2017-06-06 00:01:00      9
2017-06-06 00:01:30      2
2017-06-06 00:02:00      5
...                    ...
2017-07-10 17:17:30      8
2017-07-10 17:18:00      9
2017-07-10 17:18:30      2
2017-07-10 17:19:00      6
2017-07-10 17:19:30      6

[100000 rows x 1 columns]

In [178]:
# 以周為總和(must be datetime-like)
time_df.resample('W').sum()

             Sales
2017-06-11   86450
2017-06-18  101324
2017-06-25  101526
2017-07-02  101001
2017-07-09  101022
2017-07-16   10347